	<template name="signUp">

		<div id="form" class="row signupForm">
		<div class="col-md-3 col-sm-3 col-xs-2"> </div>
			<div class="col-md-6 col-sm-6 col-xs-8"> 

					<div class="panel panel-default">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4"> </div>
							<div class="col-md-4 col-sm-4 col-xs-4"> 
								<img class="wequ_icon" src="/img/assets/wequ_icon.png">
							</div>
							<div class="col-md-4 col-sm-4 col-xs-4"> </div>
						</div>


						<div class="row signUp">

							<div class="col-md-1 col-sm-1  col-xs-1"></div>
							<div class="col-md-10 col-sm-10  col-xs-10">
								<form>
									<div class="form-group">
									<input type="text" name="firstName" class="form-control input-lg" placeholder="first name" required>
									<input type="text" name="lastName" class="form-control input-lg" placeholder="last name" required>

									<input type="email" name="registerEmail" class="form-control input-lg" placeholder="email" required>
									<input type="password" name="registerPassword" class="form-control input-lg" placeholder="password" required>
									</div>

									<div class="form-group">
									<button type="submit" class="btn btn-primary btn-lg" id="submitForm"> Sign Up </button>
									</div>
									<div id="error" class="black-text">

									</div>

									<div class="black-text">
										<h6> By clicking Sign up you are agreeing to the 
										<b> <a href="https://www.wequ.co/pages/terms-of-service">Terms of Service</a> </b> and 
										<b> <a href="https://www.wequ.co/pages/privacy-policy">Privacy Policy</a>
										</b>
										</h6>
									</div>

									<div class="row">
										<div class="col-md-6 col-sm-6 col-xs-6">
											<h6 class="black-text"> Sign in now if you have an account </h6>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6">
											<input type="button" class="btn btn-default btn-small sign-in" name="" id="signIn" value="Sign in">
										</div>
									</div>

								</form>
								
							</div>
							<div class="col-md-1 col-sm-1 col-xs-1"></div>

						</div>

					</div>
				<div class="col-md-3 col-sm-3 col-xs-2"> </div>
			</div>



		</div>
	</template>
