<template name="settings">

	<section class="feed">

		<div class="menuBar lightBlack">
			<a class="marginLeft10" href="/quiz"><img src="/img/back.png" style="width:18px;">
				Settings   </a>
				<div>	</div>
				<div>	</div>

			</div>

			<!-- Custom styles are already applies here , unable to use the bootstrap here  -->
			
			
			<div class="marginTop25 width78 row">  {{username profile}} </div>

			<hr class="width">
			
			<div id="logout" class="marginTop25 width78 row">  Sign out </div>

			<hr class="width">


		</section>

	</template>