.hidden{
	display: none;
}

.loginBody .signUp{
	 margin-bottom: 20px;
}

.loginBody{
	/* height: 100%; */
}

#form{ 
	background: url(/img/assets/background2.png) no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
    background-size: cover;
	color: white;
}

.signupForm{
	padding-top: 100px;
	padding-bottom: 100px;
}

.signIn{
	margin-top: 50px;
	margin-bottom: 20px !important;
}

.loginBody{
	 overflow: scroll;
	 overflow-x: hidden;
	 cursor: default;
}

.wequ_icon{
	margin-top: 20px;
	width: 100%;
	position: center;
}

.black-text{
	color:black;
	font-size: initial;
}

.white-text{
	color: white;
}

@media only screen and (min-width: 480px) {
    .sign-in{
		margin-top: 0px !important;
	}
}

@media only screen and (max-width: 700px) {
    .sign-in{
    	font-size: smaller;
    }
}

.sign-in{
	border-color: black;
	float: right;
	min-width: 65px;
}

#sign-up{
	margin-top: 0px !important;
	position: right;
}

#grey-color{
	background-color: #ccc;
}

#light-grey-color{
	background-color: #e7e7e7;
}

.bg-white{
	background-color: white;
}

html {
    height: 100%
}

#submitForm{
	width: 100%;
}

img.lg-icon{
	width: 30px !important;
}
