
<template name="radarAgenda">
	<section>
		<div class="radarAgenda">
			<div><img src="/img/myradar.png"></div>
			<div><img src="/img/othersradar.png" class="t50"></div>
		</div>
	</section>
</template>



<template name="radarAgenda2">

	<div class="radarAgenda">
		<div><img src="/img/Diamond_Myself.png">
			<span class="marginleft10 font-small">  
				How <span class="text-capitalize"> {{username profile}} </span> sees me  
			</span>
		</div>
		<div><img src="/img/Diamond_Others.png" class="t50">
			<span class="marginleft10 font-small">
				How I see <span class="text-capitalize"> {{username profile}} </span> 

			</span> 
		</div>
	</div>

</template>