
<template name="sectionName">
   <div class="sectionname">
      <div class="profilename w-container">
        <div class="left profileclick" id="prevPerson" style="visibility:{{#if prevPerson}}visible{{else}}hidden{{/if}}"><img class="profilearrow" height="80" src="/img/arrowLeft.png">
        </div>
        <div class="profilefac"><img class="avatarprofile" src="/img/Avatar_BnW_noOutline.png">
          <div class="fontprofilename fontreleway">{{username profile}} PROFILE</div>
        </div>
        <div class="profileclick right" id="nextPerson" style="visibility:{{#if nextPerson}}visible{{else}}hidden{{/if}}"><img class="profilearrow" height="80" src="/img/arrowRight.png">
        </div>
      </div>
    </div>

</template>