
<template name="sectionName">
   <div class="sectionname">
      <div class="profilename w-container">
        <div class="left profileclick" id="prevPerson" style="visibility:{{#if prevPerson}}visible{{else}}hidden{{/if}}"><img class="profilearrow" height="80" src="/img/arrowLeft.png">
        </div>

        <div class="profilefac">
         {{#if pictureUrl}}
         <img class="avatarprofile" src="{{pictureUrl}}">
         {{else}}
         {{#if profile.userType}}
        <img class="avatarprofile" src="/img/profile/QueenMaxima.jpg">
        {{else}}
        <img src="/img/avatar.png" class="avatarprofile" id="specificUser" data-filter-id="{{userId}}">
        {{/if}}
         {{/if}} 

          <div class="fontprofilename fontreleway">{{username profile}} 
            {{#unless inScript}}
             {{> settingsIcon}}
            {{/unless}}
          </div>
          
        </div>
        <div class="profileclick right" id="nextPerson" style="visibility:{{#if nextPerson}}visible{{else}}hidden{{/if}}"><img class="profilearrow" height="80" src="/img/arrowRight.png">
        </div>
      </div>
    </div>

</template>


<template name="sectionName2">
   <div class="sectionname">
      <div class="profilename w-container">
        <div class="left profileclick" id="prevPerson" style="visibility:{{#if prevPerson}}visible{{else}}hidden{{/if}}"><img class="profilearrow" height="80" src="/img/arrowLeft.png">
        </div>
        <div class="profilefac">
          {{#if pictureUrl}}
         <img class="avatarprofile" src="{{pictureUrl}}">
         {{else}}
         {{#if profile.userType}}
        <img class="avatarprofile" src="/img/profile/QueenMaxima.jpg">
        {{else}}
        <img src="/img/avatar.png" class="avatar" id="specificUser" data-filter-id="{{userId}}">
        {{/if}}
         {{/if}} 
          
          <div class="fontprofilename fontreleway">{{username profile}} 
          </div>
          
        </div>
        <div class="profileclick right" id="nextPerson" style="visibility:{{#if nextPerson}}visible{{else}}hidden{{/if}}"><img class="profilearrow" height="80" src="/img/arrowRight.png">
        </div>
      </div>
    </div>

</template>