
<head>

<meta property="og:url"                content="https://app-test.wequ.co" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Know Your Characters Seen By Your Friends & Teammates | WeQu" />
<meta property="og:description"        content="Giving feedback is easy & fun than ever if you play WeQu." />
<meta property="og:image"              content="/img/opengraph.png" />

</head>

<body>
  {{renderPage}}
</body>
<template name="notFoundLayout">
  <section class="gradient1 whiteText alignCenter feed">
   <div class="am-wrapper am-error am-error-404">
    <div class="am-content">
      <div class="main-content">
        <div class="error-container">
          <div class="error-image"></div>
            <br> <br>
          <div class="error-number">404</div>
          <p class="error-description">The page you are looking for might have been removed.</p>
          <div class="error-goback-text">Would you like to go <a href="/signIn">home</a>?</div>
          <div class="footer">&copy; 2017 <a href="/signIn"> WEQU </a></div>
        </div>
      </div>
    </div>
  </div>
</section>
</template>