	<template name="signIn">
		
		{{#if signUpShow}}
		{{>signUp}}
		{{else}}

		<!-- <div class="row {{#unless linkedinInvitedUser}}linkedinInvitedUser{{/unless}}" id="form">  -->
		<div class="row {{#unless linkedinInvitedUser}}linkedinInvitedUser{{/unless}}"> 	

			<div class="loginwraper">
			    <div class="loginbox" data-ix="loginbox"><img class="image-3" src="/img/assets/WEQU_LOGO_NEW.png">
			      <div class="formarea w-container">
		      
			      	<a id="logInLinkedIn" class="linkedinbttn w-button" href="#" >Log In With LinkedIn</a>
			      
			        <div style="visibility:{{#if groupLinkedinInvitedUser}}visible{{else}}hidden{{/if}}" class="w-form">

			          <form class="loginemail" data-name="Email Form" id="signIn" name="email-form">
			            <input class="emailfield w-input" maxlength="256" name="loginEmail" placeholder="email address" type="email" value="{{invitedEmail}}" disabled={{emailDisable}} required>
			            <input class="emailfield w-input" maxlength="256" name="loginPassword" placeholder="password" required="required" type="password">
			            <a class="linktext" href="/RecoverPassword">Forgotten password?</a>
			            <input class="submit-button w-button" data-wait="Please wait..." type="submit" value="Log In With Email">
			          </form>
			          <div id="error" class="errormsg"></div>
			        </div>

			        <a id="sign-up" class="loginBtn" href="#">Sign Up</a>
			      </div>
			    </div>
			</div>
		</div>

		{{/if}}

	</template>
