
<template name="strengths">

	  {{#unless topWeak}}

	  <div class="sectiongreybg sectionprofile">
	     <center> There is no information about {{userType}} </center>
	  </div>

	  {{else}}

	  <div class="sectiongreybg sectionprofile">

		<div class="titlesection w-container"><img class="iconwrapper" src="/img/iconSkills.png">
			<div class="fontreleway fonttitle">{{userType}} MORE TRUE Skills</div>
		</div>

		{{> threeSkills data=top3}}
		<div class="fontreleway fonttitle">{{userType}} LESS TRUE Skills</div>
		{{> threeSkills data=weak3}}

		<p class="fontreleway paratopskills">These skills are selected based on the questions you and your teammates have answered about you.
			<br>The more questions you get, the more accurate your profile becomes.</p>

		</div>

	   {{/unless}}

</template>