.body {
  overflow: scroll;
  background-image: none;
  color: #fdf8f8;
}

.menubar {
  height: 55px;
  background-image: -webkit-linear-gradient(270deg, rgba(44, 44, 44, .99), rgba(44, 44, 44, .99));
  background-image: linear-gradient(180deg, rgba(44, 44, 44, .99), rgba(44, 44, 44, .99));
}

.sectionname {
  padding-bottom: 10px;
  background-image: url('../img/Background_white20.png');
  background-position: 50% -61px;
  background-size: 1200px;
  box-shadow: none;
  text-align: center;
}

.profilename {
  display: block;
  padding-bottom: 25px;
  text-align: center;
}

.avatarprofile {
  display: block;
  height: 140px;
  margin: 40px auto;
  border-radius: 500px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
}

.fontreleway {
  float: left;
  font-family: Raleway, sans-serif;
  color: #000;
  text-decoration: none;
}

.fontreleway.fontprofilename {
  display: inline-block;
  float: none;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.fontreleway.fontprogress {
  margin-bottom: 5px;
  float: none;
  color: #8a8a8a;
  text-align: center;
}

.fontreleway.progressnumber {
  display: block;
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 10px;
  float: none;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.fontreleway.progressnumber.fontmyself {
  color: #345bb5;
  font-size: 28px;
}

.fontreleway.progressnumber.fontothers {
  color: #ee8879;
  font-size: 28px;
}

.fontreleway.progressnumber.fontothers.font2 {
  color: #61b34b;
}

.fontreleway.fonttitle {
  margin-top: 30px;
  float: none;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.fontreleway.fonttitle.fontwhite {
  color: #fff;
}

.fontreleway.fontradar {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2px;
  padding-left: 10px;
  font-size: 16px;
}

.fontreleway.skillname {
  display: block;
  float: none;
  font-size: 16px;
  text-align: center;
  text-transform: none;
}

.fontreleway.titlepara {
  display: block;
  width: 80%;
  margin: 15px auto 0px;
  float: none;
  clear: none;
  font-size: 16px;
  text-align: center;
}

.fontreleway.paratopskills {
  position: relative;
  display: block;
  width: 80%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  color: #4e4d4d;
  font-size: 14px;
  text-align: center;
}

.fontreleway.paratopskills.paraskillset {
  position: relative;
  left: 0px;
  top: -140px;
  right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fontreleway.fontprogressdes {
  display: block;
  float: none;
  color: #8a8a8a;
  text-align: center;
}

.fontreleway.titleshare {
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  color: #fff;
  text-align: center;
}

.columprogress {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-right-color: #8a8a8a;
}

.row._2ndprogressbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 9999;
  display: block;
  overflow: visible;
}

.sectionprofile {
  position: static;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: transparent;
}

.sectionprofile.sectiongreybg {
  background-color: #f1f0f0;
}

.sectionprofile.section-share {
  display: none;
  height: 400px;
  background-image: url('../img/bg_dark.001.jpeg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: scroll;
  text-align: center;
}

.sectionprofile.sectionskills {
  padding-bottom: 0px;
}

.titlesection {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.iconwrapper {
  display: block;
  width: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  float: none;
  text-align: left;
}

.iconwrapper.iconradar {
  position: static;
  float: left;
  clear: both;
}

.iconwrapper.iconplay {
  width: 30px;
}

.radarwapper {
  display: block;
  width: 400px;
  margin: 35px auto 50px;
}

.radariconwrapper {
  display: block;
  width: 190px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.radariconwrapper.teammate {
  width: 255px;
}

.profileclick {
  position: relative;
  display: block;
  width: 5%;
  float: right;
  clear: none;
  font-family: Icomoon, sans-serif;
  color: #000;
}

.profileclick.left {
  float: left;
}

.profileclick.right {
  float: right;
}

.profilefac {
  position: relative;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  float: left;
  clear: none;
  text-align: center;
}

.radaragenda {
  display: block;
  margin-right: 200px;
  margin-left: 200px;
}

.profilebttn {
  display: block;
  width: 50%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #8a8a8a;
  border-radius: 100px;
  background-color: transparent;
}

.profilebttn.fontbttn {
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-family: Raleway, sans-serif;
  color: #8a8a8a;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.profilebttn.fontbttn:hover {
  background-color: #8a8a8a;
  color: #fff;
}

.profilebttn.fontbttn.buybttn {
  width: 25%;
}

.profilebttn.fontbttn._24skillsbttn {
  position: relative;
  left: 0px;
  top: -125px;
  right: 0px;
  overflow: visible;
  width: 590px;
  margin-top: 0px;
  background-color: #fff;
}

.profilebttn.fontbttn._24skillsbttn:hover {
  background-color: #8a8a8a;
}

.divbttn {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
}

.sectiontop3 {
  margin-top: 0px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: rgba(0, 0, 0, .05);
}

.columtop {
  display: block;
  width: 80%;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
}

.iconskill {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  border-radius: 500px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3);
  cursor: pointer;
}

.skillcolumn {
  display: block;
  text-align: center;
}

.div24skills {
  margin-top: 35px;
  text-align: center;
}

.skillcover {
  position: static;
  top: 0px;
  background-color: #6e6e6e;
  opacity: 1;
  -webkit-transform: skew(0deg, 33deg);
  -ms-transform: skew(0deg, 33deg);
  transform: skew(0deg, 33deg);
}

.image {
  display: inline-block;
  opacity: 1;
}

.image-2 {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.divcover {
  background-color: #c9c9c9;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.covercontainer {
  overflow: hidden;
}

.skewedsection {
  overflow: visible;
}

.div-block {
  width: 100%;
  height: 0px;
}

.skewcover {
  position: absolute;
  top: 1900px;
  overflow: hidden;
  width: 100%;
  height: 300px;
  background-color: #525252;
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-transform: skew(0deg, -4deg);
  -ms-transform: skew(0deg, -4deg);
  transform: skew(0deg, -4deg);
}

.video {
  margin-top: 30px;
}

.profilearrow {
  margin-top: 80px;
}

/* Causes issue
.image-3 {
  width: 400px;
} */

.html-embed {
  display: block;
  width: 80%;
  margin: 35px auto;
}

.image-4 {
  position: absolute;
  top: 800px;
  background-color: rgba(0, 152, 255, .43);
  background-image: -webkit-linear-gradient(90deg, #000, #fff);
  background-image: linear-gradient(0deg, #000, #fff);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.skillgraphdiv {
  background-color: rgba(0, 0, 0, .45);
  background-image: -webkit-linear-gradient(90deg, #000, #fff);
  background-image: linear-gradient(0deg, #000, #fff);
}

._24skillcover {
  position: relative;
  height: 200px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, .07);
}

.skillcovergrey {
  height: 360px;
  margin-top: 30px;
  background-image: -webkit-linear-gradient(90deg, #f1f0f0, transparent), url('../img/Screen-Shot-2017-05-09-at-16.22.56.png');
  background-image: linear-gradient(0deg, #f1f0f0, transparent), url('../img/Screen-Shot-2017-05-09-at-16.22.56.png');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, 80%;
  background-repeat: repeat, repeat-y;
  background-attachment: scroll, fixed;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.socialcolum {
  display: block;
  width: 80%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.skill-dummy-img {
  position: relative;
  top: 38px;
  height: 300px;
  background-image: url('../img/Screen-Shot-2017-05-09-at-16.22.56.png');
  background-position: 0px 0px;
  background-size: 1250px;
  background-attachment: scroll;
}

.sectionempty {
  height: 5px;
  margin-top: -4px;
  background-color: #f1f0f0;
}

.progressdesdiv {
  display: block;
  width: 100%;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  background-color: transparent;
  box-shadow: none;
}

.sharelogo {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.logocircle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 1px 0 6px 0 hsla(0, 0%, 7%, .5);
}

.image-5 {
  padding-top: 20px;
}

.image-6 {
  padding-top: 10px;
}

.section-social {
  height: 80px;
  background-image: url('../img/bg_dark.001.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.block-social {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  text-align: center;
}

.facebook {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

html.w-mod-js *[data-ix="progress-bar"] {
  display: none;
  opacity: 1;
}

html.w-mod-js *[data-ix="skillls"] {
  display: none;
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

html.w-mod-js *[data-ix="click-trigger-skill-icon"] {
  display: block;
  opacity: 1;
}

@media (max-width: 991px) {
  .sectionname {
    background-image: url('../img/Background_white20.png');
    background-position: 50% 50%;
    background-size: 1100px;
    background-attachment: scroll;
  }
  .fontreleway.paratopskills {
    width: 90%;
  }
  .fontreleway.paratopskills.paraskillset {
    width: 90%;
  }
  .radaragenda {
    margin-right: auto;
    margin-left: auto;
  }
  .profilebttn.fontbttn {
    width: 60%;
  }
  .iconskill {
    width: 100px;
  }
  .skillcovergrey {
    background-size: auto, 95%;
  }
}

@media (max-width: 767px) {
  .body {
    overflow: auto;
    height: 100%;
  }
  .sectionname {
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .fontreleway.fonttitle.fontwhite {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    line-height: 28px;
  }
  .fontreleway.titlepara {
    width: 90%;
  }
  .fontreleway.paratopskills.paraskillset {
    top: -209px;
  }
  .fontreleway.fontprogressdes {
    font-size: 12px;
  }
  .profileclick.left {
    margin-left: 5px;
  }
  .profileclick.right {
    margin-right: 5px;
  }
  .profilefac {
    width: 88%;
  }
  .profilebttn.fontbttn {
    width: 85%;
  }
  .profilebttn.fontbttn.buybttn {
    width: 40%;
    height: auto;
  }
  .profilebttn.fontbttn._24skillsbttn {
    top: -195px;
    width: 90%;
    height: auto;
  }
  .iconskill {
    border: 0px none #fff;
    border-radius: 500px;
    box-shadow: 1px 0 6px 1px rgba(0, 0, 0, .3);
  }
  .skillcolumn {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .html-embed {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .fontreleway {
    float: none;
  }
  .fontreleway.fontprogress.fontwidthmobile {
    display: block;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  .fontreleway.fonttitle {
    margin-top: 45px;
    font-size: 20px;
  }
  .fontreleway.fonttitle.fontwhite {
    width: 90%;
  }
  .fontreleway.fontradar {
    width: 110px;
    font-size: 12px;
    line-height: 13px;
  }
  .fontreleway.fontradar.fontradarleft {
    padding-top: 15px;
  }
  .fontreleway.skillname {
    font-size: 12px;
  }
  .fontreleway.titlepara {
    font-size: 14px;
  }
  .fontreleway.paratopskills {
    width: 90%;
    font-size: 12px;
  }
  .fontreleway.fontprogressdes {
    font-size: 12px;
  }
  .fontreleway.fontskilldis {
    font-weight: 600;
  }
  .fontreleway.fontskilldis.fontteamwork {
    display: none;
    color: #f2612f;
  }
  .fontreleway.titleshare {
    width: 90%;
  }
  .row._2ndprogressbar {
    background-color: #fff;
  }
  .sectionprofile {
    overflow: hidden;
  }
  .sectionprofile.section-share {
    background-size: 800px;
  }
  .iconwrapper.iconradar {
    margin-top: 9px;
  }
  .radarwapper {
    width: 280px;
  }
  .radariconwrapper {
    width: auto;
  }
  .radariconwrapper.teammate {
    overflow: visible;
    width: auto;
  }
  .profilefac {
    width: 86%;
  }
  .profilebttn.fontbttn {
    width: 90%;
    height: auto;
    direction: ltr;
    font-size: 14px;
    line-height: 24px;
  }
  .profilebttn.fontbttn.buybttn {
    width: 60%;
    height: auto;
  }
  .profilebttn.fontbttn._24skillsbttn {
    width: 90%;
  }
  .columtop {
    width: 90%;
  }
  .skillcovergrey {
    background-size: auto, 100% 220px;
    background-attachment: scroll, fixed;
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  .column-2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .column-3 {
    text-align: center;
  }
  .skillblock:hover {
    display: block;
  }
  .link {
    text-decoration: none;
  }
  .logocircle {
    width: 70px;
    height: 70px;
  }
  .image-5 {
    width: 60px;
    padding-top: 10px;
  }
  .image-6 {
    padding-top: 13px;
  }
}

@font-face {
  font-family: 'Icomoon';
  src: url('../fonts/icomoon.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}