

/*verify-page */

.alert{
	cursor: initial;
}

#outer
{
	width:100%;
	/* text-align: center; */
}
.inner
{
	/* display: inline-block; */
}

.selected{
	background:white !important;
	color:black !important;
}

.width-half{
	width: 60%
}

.font-white{
	color:white;
}

.title{
	text-align: left !important;
	white-space: nowrap;
}


@media only screen and (min-width: 600px) {
	.skillElement .title {
		width: 10% !important;
	}
}

@media only screen and (min-width: 600px) {
	.skillElement .title{
		width: 20% !important;
	}	
}

@media only screen and (max-width: 400px) {
	.skillElement .title{
		width: 50% !important;
	}	
}

.skillElement .title{
	width: 30% !important;
}


/* Applying skills category color */

.VIRTUE{
	background-color: #d0376f !important;
}

.SELF_MANAGEMENT{
	background-color: #9964b8 !important;
}

.COMMUNICATION{
	background-color: #00aadb !important;
}


.TEAMWORK{	
	background-color: #f46021 !important;
}

.LEADERSHIP{
	background-color: #1c307e !important;
}

.PROBLEM_SOLVING{
	background-color: #3fa033 !important;
}

/* profile page */

.menuBar{
	width: 100%;
}


.colorRed{
	color: black !important;
}



@media only screen and (min-width: 600px) {
	.margin-top {
		margin-top: 50px;
	}
}

@media only screen and (min-width: 760px) {
	.margin-top {
		margin-top: 100px;
	}
}

.overflow{
	overflow:auto;
}

/* Marketing video */

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
}

.margin25{
	margin-top: 25px;
	margin-bottom: 25px;
}

.margin30{
	margin-bottom: 30px;
}

.margin10{
    margin-top: 10px;
}

.marginTop5{
	margin-top: 5px; 
}

/* feed */
.white{
	color: white;
}

.lightBlack{
	background-color: #323232 !important;
}

.width78{
	width: 78%;
}

.marginLeft10{
	margin-left: -5% !important;
}

.width{
	width: 100%;
}

.marginTop25{
	margin-top: 25px !important;
}

.comment{
	max-width:65%;
}

.marginleft10{
	margin-left: 10px;
}

.font-small{
	font-size: large;
}


@media only screen and (max-width: 600px) {
	.font-small{
		font-size: small;
	}
}

#beta_tag{
	position: absolute;
	/*start 55 new-improve-ui*/
	/*left: -30px;
	top: -30px;*/
	width: 210px;
	left: -50px;
	top: -50px;
	/* end 55 new-improve-ui*/
}



/*@media only screen and (min-width: 600px) {*/
@media only screen and (max-width: 979px) {

	/* start 55 - improve ui*/

	#beta_tag{
		width: 140px;
		top: -22px;
		left: -22px;
	}

	.panel{
		/*min-width: 400px;*/
		background-color: #fff !important;
		width: 500px;
		height: 550px;

	}
	.button-login{
    	width: 300px !important;
    	height: 40px !important;
    	padding: 0px !important;
	}

	.recoverPassword{
		padding-left: 58px;
	}

	.signInBtnPosition{
		margin-left: 100px;	
	}
	.signUpFields{
		width: 300px !important;
    	height: 40px !important;
	}
	.privacyStat{
		padding-left: 115px;
	}

/* end 55 - improve ui*/
}

@media only screen and (min-width: 1000px) {
	#beta_tag{
		width: 160px;
		top: -25px;
		left: -25px;
	}
	/* start 55 - improve ui*/
	.panel{
		background-color: #fff !important;
		width: 650px;
		max-height: 575px;
	}

	.button-login{
    	width: 400px !important;
    	height: 40px !important;
    	padding: 0px !important;
	}
	.recoverPassword{
		padding-left: 70px;
	}
	.signInBtnPosition{
		margin-left: 130px;	
	}
	.signUpFields{
		width: 400px !important;
		height:40px !important;
	}
	.privacyStat{
		padding-left: 140px;
	}

	/* end 55 - improve ui*/
}


/*@media only screen and (max-width: 400px) {*/
@media only screen and (max-width: 416px) {
	#beta_tag{
		width: 130px;
		top: -20px;
		left: -20px;
	}

	/* start 55 - improve ui*/
	.panel{
		/*width: auto;*/
		width: 300px;
		background-color: transparent !important;
		height: 510px;
	}

	.button-login{
    	height: 40px !important;
    	width: 250px !important;
    	padding: 0px !important;
	}

	.recoverPassword{
		padding-left: 0px;
	}
	.signInBtnPosition{
		margin-left: 60px;	
	}
	.signUpFields{
		height: 40px !important;
    	width: 250px !important;
	}
	.privacyStat{
		padding-left: 40px;
	}

	/* end 55 - improve ui*/
}

form#signIn{
	/*margin-bottom: 40px;*/
}

/* Linked in login Button color*/
.LLBColor{
	background-color: #345BB5 !important;
	border : none !important;
}

.customDimension{
	max-width: 500px;
	max-height: 100px;
}



.linkedinInvitedUser{
	padding-top: 50px;
	height: 100% !important;
}


/* Email coupling  */

.modal-dialog  {
	max-width: 600px !important;
	max-height: 350px !important;
}

.width100{
	width: 100%;
}

button.close{
	margin-top: 0px;
}

.modal-footer{
	background-color: none;
}

/* GameMasterView */
.-webkit-align-items-inherit{
	-webkit-align-items: inherit !important;
}

.width40{
	width: 40px;
}


.margonTop20{
	margin-top: 20px;
}

.width30{
	width: 30px !important;
}


.blueBg{
	background-color: #286090 !important;
	border-color: #2e6da4 !important;
	border-radius: 0px !important;
}


/* Select2 container  text color */
.select2-container .select2-search--inline .select2-search__field{
	color: #fff !important;
}


/* start #55 - improve UI */
.panel-default {
    border-color: none !important;
}

.panel {
    margin-bottom: 20px !important;
    border: 0px solid transparent !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
    /*box-shadow: 0 0 5px 2px rgba(0, 0, 0, .05) !important;*/
}

.font-text-small{
	font-size: small;
}

.font-text-smaller{
	font-size: smaller;
}

.font-text-20{
	font-size: 20px;
}


.loginLinkedin img {
	width: 20px !important;
    margin-bottom: 7px !important;
}

.recoverPassword{
	margin-top: -20px;
}

.font-grey-color{
	color: #484848 !important
}

.signUpEmailBtn{
	padding: 0px !important;
    margin: 0px !important;
    font-size: small !important;
}

.font-xx-small{
	font-size: xx-small !important;
}

.wordWrap{
	word-wrap: break-word;
}

.border0{
	border: 0px
}

.info{
	color: black;
    font-size: 14px;
    text-align: left;
}


/* end #55 - improve UI */

.select2-results{  
	display: none !important;
}

.select2-results__option{
	padding: 0px!important;
}

.loginbox{
	height:auto !important;
}

.padding10{
	padding-top: 10px;
}

.select2-container--default .select2-search--inline .select2-search__field{
	text-align: left;
	font-size: small;
}    

.select2-container{
	font-size: medium !important;
	border: 0px 0px 1px !important;
}

.select2-container--default .select2-selection--multiple{
	background-color: transparent !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid #fff !important;
    border-radius: 0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
	color: black !important;
}

.select2-container--default:focus .select2-selection--multiple:focus{
	 border-bottom: 2px solid #fff !important;
}


.gradientBlack{
	background-color: black;
}

input[type="radio"]{
	width: initial;
}

.navColor{
	background: blue;
}

/* over-riding wequ-profile */
.sectionname{
	width: 100% !important;
}

.sectionprogress{
	width: 100% !important;
}

.small{
	font-size: small;
}

.webflow-row{
 margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
}

.paddingTopInverse45{
	padding-top: 0px!important;
}

.colorNone{
	color: black;
}