

/*verify-page */

.alert{
	cursor: initial;
}

#outer
{
	width:100%;
	/* text-align: center; */
}
.inner
{
	/* display: inline-block; */
}

.selected{
	background:white !important;
	color:black !important;
}

@media only screen {
	h2.scriptInvitationFillData{
		margin-top: -40px !important; 
	}
}

.width-half{
	width: 60%
}

.font-white{
	color:white;
}

.title{
	text-align: left !important;
	white-space: nowrap;
}


@media only screen and (min-width: 600px) {
	.skillElement .title {
		width: 10% !important;
	}
}

@media only screen and (min-width: 600px) {
	.skillElement .title{
		width: 20% !important;
	}	
}

@media only screen and (max-width: 400px) {
	.skillElement .title{
		width: 50% !important;
	}	
}

.skillElement .title{
	width: 30% !important;
}


/* Applying skills category color */

.VIRTUE{
	background-color: #d0376f !important;
}

.SELF_MANAGEMENT{
	background-color: #9964b8 !important;
}

.COMMUNICATION{
	background-color: #00aadb !important;
}


.TEAMWORK{	
	background-color: #f46021 !important;
}

.LEADERSHIP{
	background-color: #1c307e !important;
}

.PROBLEM_SOLVING{
	background-color: #3fa033 !important;
}

/* profile page */

.menuBar{
	width: 100%;
}


.colorRed{
	color: black !important;
}



@media only screen and (min-width: 600px) {
	.margin-top {
		margin-top: 50px;
	}
}

@media only screen and (min-width: 760px) {
	.margin-top {
		margin-top: 100px;
	}
}

.overflow{
	overflow:auto;
}

/* Marketing video */

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
}

.margin25{
	margin-top: 25px;
	margin-bottom: 25px;
}

.margin30{
	margin-bottom: 30px;
}

/* feed */
.white{
	color: white;
}

.lightBlack{
	background-color: #323232 !important;
}

#logout{
	width: 78%;
}

.marginLeft10{
	margin-left: -5% !important;
}

.width{
	width: 100%;
}

.marginTop25{
	margin-top: 25px !important;
}

.comment{
	max-width:65%;
}

.marginleft10{
	margin-left: 10px;
}

.font-small{
	font-size: large;
}


@media only screen and (max-width: 600px) {
	.font-small{
		font-size: small;
	}
}

#beta_tag{
	position: absolute;
	left: -30px;
	top: -30px;
}

@media only screen and (min-width: 600px) {
	.panel{
		min-width: 400px;
	}
}

@media only screen and (max-width: 600px) {
	#beta_tag{
		width: 160px;
		top: -25px;
		left: -25px;
	}
}


@media only screen and (max-width: 400px) {
	#beta_tag{
		width: 130px;
		top: -20px;
		left: -20px;
	}
}

form#signIn{
	margin-bottom: 40px;
}





