.hidden{
	display: none;
}

.loginBody .signUp{
	 margin-bottom: 20px;
}

.loginBody{
	 height: 100%;
}

#form{ 
	/*Start 55-new-improve-ui*/
	/*background: url(/img/assets/background2.png) no-repeat center center;*/
	background: url(/img/assets/background_white.png) no-repeat center center;
	/*end 55-new-improve-ui*/
	
	-webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
    background-size: cover;
	color: white;
	/*Start 55-new-improve-ui*/
	height: inherit;
	/*end 55-new-improve-ui*/
}

.signupForm{
	/*padding-top: 100px;*/
	padding-top: 50px;
	/*padding-bottom: 100px;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
	margin-right: 0px;*/
	margin-bottom: 20px !important;
}

.signIn{
	margin-top: 50px;
	margin-bottom: 20px !important;
}

.loginBody{
	 overflow: scroll;
	 overflow-x: hidden;
	 cursor: default;
}

.wequ_icon{
	margin-top: 20px;
	width: 100%;
	position: center;
	height: auto;	
}

.black-text{
	color:black;
	font-size: initial;
}

.white-text{
	color: white;
}
/*Start 55-new-improve-ui*/
/*@media only screen and (min-width: 480px) {
    .sign-in{
		margin-top: 0px !important;
	}
}

@media only screen and (min-width: 1000px) {
    .sign-in{
		margin-top: 0px !important;
	}
}*/


/*@media only screen and (max-width: 700px) {
    .sign-in{
    	font-size: smaller;
    }
}*/
/*end 55-new-improve-ui*/


.sign-in{
	border-color: black;
	float: right;
	min-width: 65px;
	margin-top: 0px !important;
}

#sign-up{
	margin-top: 0px !important;
	    margin-bottom: 15px;
	/*position: right;*/
}

#grey-color{
	/*Start 55-new-improve-ui*/
	/*background-color: #ccc;*/
	background-color: #484848;
	/*end 55-new-improve-ui*/
}

#light-grey-color{
	background-color: #e7e7e7;
}

.bg-white{
	background-color: white;
}

html {
    height: 100%
}

#submitForm{
	width: 100%;
}

img.lg-icon{
	width: 30px !important;
}

#error{
	width: 100%;
	font-size: medium;
	color: red;
}

/*Start 55-new-improve-ui*/
@media only screen and (max-width: 979px) {
	.wequ_icon{
		width: 80%;
	}

	#sign-up{
		margin-left: 120px;
	}
}

@media only screen and (min-width: 1000px) {
    .wequ_icon{
		width: 80%;
	}

	#sign-up{
		margin-left: 150px;
	}
}

@media only screen and (max-width: 414px) {
    
	#sign-up{
		margin-left: 70px;
	}
}


#recoverPassword{
	margin-left: 70px;
}


/*end 55-new-improve-ui*/
