
  <template name="threeSkills">
    <ul class="maxContainer">
      {{#each data}}
      <li class="max">
        <img src="/img/skills/{{skill}}.png">
        {{text}}
      </li>
      {{/each}}
    </ul>
  </template>

  

  <template name="profileSkills">
    {{> menuProfile}}
    <section class="feed">
      <!--<h3>Skill Categories</h3>-->
      {{#if enoughData}}
      {{> skillCategories}}
      {{else}}
      {{> skillsPreview}}
      <a href="/invite" class="button">Invite people</a>
      {{/if}}
    </section>
  </template>

  <template name="skillsPreview">
    <img src="/img/skills_dumb.png" style="width:100%; height:auto;">
  </template>

  <template name="skillCategories">
    {{#each categories}}
    <div class="skillElement">
      <div class="title"><b class="h4">{{name}}</b></div>
      <div class="underBar" style="width:60%; visibility: hidden"></div>
    </div>
    {{#each skills}}
    <div class="skillElement">
      <div class="title">{{name}}</div>
      <div class="underBar" style="width:60%">
        <div class="bar {{category}}" style="width:{{value}}%"></div>
      </div>
      <div class="score">{{scored}}/{{total}}</div>
    </div>
    {{/each}}
    {{/each}}
  </template>

