<template name="profile">
  <section class="feed" id="feed">

    {{> sectionName}}

    {{> profileQuestionInfo}}  

    {{> profileQuestionInfoText}}
    
    {{> radarComparison}}

    {{> radarAgenda}}
    

    <!-- {{#if inScript}} -->
    {{> inviteTeammates}}
    <!-- {{/if}} -->

    {{> strengths}}   

    {{> navigateButton}}

    {{> skillSet}} 

    <div id="fb-root"></div>

    <div class="fb-share-button" data-href="http://app.wequ.co/profile/user/{{userId}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fapp.wequ.co&amp;src=sdkpreparse">Share</a></div>

    {{> sectionprofile}}

    <!-- {{> sectionSocial}} https://app.wequ.co/user/skills/{{userId}}

    {{> sectionShare}} -->

</section>

</template>