<template name="profile">
  <section class="feed" id="feed">

    {{> sectionName}}

    {{> profileQuestionInfo}}  

    {{> profileQuestionInfoText}}
    
    {{> radarComparison}}

    {{> radarAgenda}}
    

    <!-- {{#if inScript}} -->
    {{> inviteTeammates}}
    <!-- {{/if}} -->

    {{> strengths}}   

    {{> navigateButton}}

    {{> shareFB}}

    {{> skillSet}} 

  

    {{> sectionprofile}}

    <!-- {{> sectionSocial}} https://app.wequ.co/user/skills/{{userId}}

    {{> sectionShare}} -->

</section>

</template>