<template name="adminViewUserProfile">
    <div class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- <div class="modal-header">
                     <h4 class="modal-title"> </h4> 
                </div> -->

                <div class="modal-body">
                    
                  <div class="row">
                        <div class="col-xs-2 col-md-2 col-sm-2"> 
                        </div>
                        <div class="col-xs-8 col-md-8 col-sm-8"> 
                        </div>
                        <div class="col-xs-2 col-md-2 col-sm-2"> 
                            <button type="button" class="close" data-dismiss="modal">
                            <img id="" class="pull-right" src="/img/login/X_button.png">    
                            </button>
                        </div>
                    </div>

                    {{#with displayProfile}}
                        {{#if enoughData}}  
                          {{> skillCategories categories=categories skills =skills  }}
                        {{else}}
                        {{> skillsPreview}}
                        {{/if}}
                      
                    {{/with}}
                    
                </div>

                <!-- <div class="modal-footer">
                   
                </div> -->

            </div>
        </div>
    </div>
</template>