<template name="displayProfile">
  <section class="feed">

    {{#if inScript}}

    <section class="bgGrey ptb_h1">
      <img src="{{currentUser.profile.pictureUrl}}" class="avatar">
      <div><b>{{username profile}}</b></div>
    </section>
    <section class="ptb_h1">
      <img src="/img/icon_overview.png" class="titleIcon">
      <h3>WeQu Scores</h3>
      <h5>Your soft skill profile based on the questions<br> you answered about yourself</h5>
      <svg height="300" width="300" style="min-height:300px; background-image:url('/img/skills2.png'); background-size: cover;">
        {{> radar score=myscore color="white" outline="#E96956"}}
      </svg>
      <div class="radarAgenda">
        <div><img src="/img/myradar.png"></div>
        <div><img src="/img/othersradar.png" class="t50"></div>
      </div>
    </section>


    {{else}}

    <div class="menuBar">
      <a href="/quiz"><img src="/img/back.png" style="width:18px;"></a>
      <div><b>{{username profile}}</b></div>
      <div><img src="/img/back.png" style="width:18px; visibility: hidden"></div>
    </div>
    <div class="menuBar">
    <a href="/profile/user/{{userId}}" class="{{#if route 'profile'}}t100{{else}}t50{{/if}}">Overview</a>
      <a href="/profile/skills" class="{{#if route 'skills'}}t100{{else}}t50{{/if}}">Skills</a>
      <!--<a href="/profile/written-feedback" class="{{#if route 'feedback'}}t100{{else}}t50{{/if}}">Feedback</a>-->
    </div>

    <section class="ptb_h1">
      <img src="/img/icon_overview.png" class="titleIcon">
      <h3>WeQu Scores</h3>
      <h5></h5>
      <svg height="300" width="300" style="min-height:300px; background-image:url('/img/skills2.png'); background-size: cover;">
        {{> radar score=myscore color="white" outline="#E96956"}}
        {{> radar score=otherscore color="#E96956" outline="white"}}
      </svg>
      <div class="radarAgenda">
        <div><img src="/img/myradar.png"></div>
        <div><img src="/img/othersradar.png" class="t50"></div>
      </div>
    </section>

    {{/if}}

  </section>

</template>