<template name="displayProfile">
  <section class="feed">

    {{#if inScript}}

    <section class="bgGrey ptb_h1">
      <img src="{{currentUser.profile.pictureUrl}}" class="avatar">
      <div><b>{{username profile}}</b></div>
    </section>
    
    {{> radarComparison}}

    <section>

      <div class="radarAgenda">
        <div><img src="/img/Diamond_Myself.png"> <span class="marginleft10"> You </span> </div>
        <div class="text-capitalize">  <img src="/img/Diamond_Others.png" class="t50"> 
          <span class="marginleft10"> {{username profile}} </span>
        </div>
      </div>
      {{> othersProfileQuestionInfo}}
      {{> navigateButton}}
      
    </section>


    {{else}}

    <!-- {{> menuProfile userId=userId profile=profile }} -->

    {{> sectionName2}}

    {{> othersProfileQuestionInfo}}

    <section class="ptb_h1">
      <img src="/img/icon_overview.png" class="titleIcon">
      <h3>Comparisons</h3>
      <h5></h5>

      {{#with displayRadar}}
      <svg height="300" width="300" style="zmin-height:300px; background-image:url('/img/skills2.png'); background-size: cover;">
        {{> radar score=myscore color="white" outline="#E96956"}}
        {{> radar score=otherscore color="#E96956" outline="white"}}
      }}
    </svg>
    {{/with}}

  </section>

  <section>

   {{> radarAgenda2}}

   {{> strengths}} 

   {{> navigateButton}}

 </section>


 {{/if}}

</section>

</template>