
<template name='quiz'>
  <section class="vote gradient{{person.gradient}}">
    <section class="person">
      <div>
        <a id="prevPerson" style="visibility:{{#if prevPerson}}visible{{else}}hidden{{/if}}"><img src="/img/left.png" class="nav"></a>
      </div>
      <div class="h4" id="specificUser" data-filter-id="{{userId}}">
        <div>
          {{#if feedback}} {{feedback.groupName}}  {{/if}}
        </div>
        {{#if pictureUrl}}
        <img src="{{pictureUrl}}" class="avatar" id="specificUser" data-filter-id="{{userId}}">
        {{else}}
        <img src="/img/avatar.png" class="avatar" id="specificUser" data-filter-id="{{userId}}">
        {{/if}}
        <br>
        {{username person}}
      </div>
      <div>
        <a id="nextPerson" style="visibility:{{#if nextPerson}}visible{{else}}hidden{{/if}}"><img src="/img/right.png" class="nav"></a>
      </div>
    </section>
    {{#if feedback}}
    <section>
      {{#if writtenFeedback}}
      <div class="question">
        Why do you think so?
      </div>
      <textarea rows="3" style="width:100%">Wrote your feedback here</textarea>

      {{else}}
      <div class="question">
        <h2>{{question.text}}</h2>
      </div>
      <ul class="answers">
        {{#each question.answers}}
        <li class="answer" id="{{_id}}" data-skill="{{skill}}" >{{text}}</li>
        {{/each}}
      </ul>
      {{/if}}
      <div class="statusBar">
        <div>Question {{questionNum}} of {{questionsTotal}}</div>
        {{#unless self}}
        <div><a href="" class="skip">Skip this question</a></div>
        {{/unless}}
      </div>
    </section>
    {{/if}}

  </section>
</template>