  <template name="invite">
    {{>menu normalView=normalView}} 

    {{#if normalView}}

     {{#unless usersCount}}

     {{>groupEmpty}}

     {{/unless}}


     {{#if equals step 'invitebttn'}}
        
        {{>invitebttn}}

      {{else}}
    
      {{#if usersCount}}

      <section class="gradient{{currentUser.profile.gradient}} whiteText feed">

        <div class="contentwrapper w-clearfix">
          <div class="screentitlewrapper w-clearfix">
            <div class="screentitle">
              <div class="title">Add Contact</div>
            </div>
            <div class="screentitlebttn">
              <!-- Removing class image-4 as the webflow UI pollutes-->
              <a class="w-inline-block marginTop5"><img src="/img/Invite_Plus_white.png">
              </a>
            </div>
          </div>
          
          <ul class="friendlist w-list-unstyled">

            <li class="list-item w-clearfix">
             
              {{#each users}}
              <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="avatawrapper padding10">
               {{#if services.linkedin.pictureUrl}} 
               <span class="font-white"><img class="image-5 img-circle" src="{{services.linkedin.pictureUrl}}"> {{username profile}} {{#if invitedPerson}} ( Invited You ) {{/if}}</span>
               {{else}} 
               <span class="font-white"><img class="image-5" src="/img/avatar.png"> {{username profile}} {{#if invitedPerson}} ( Invited You ) {{/if}}</span>
               {{/if}}
              </div>
              </div>
              </div>
              <!--
               {{#if profile.trialMember}} 
               <span class="dots"> 
                 <span class="dot dot-danger">  </span> 
               </span>
               {{/if}}
              -->
            {{/each}}
           </li>
           <li></li>
          </ul>
       
        </div>  

      </section>

      {{/if}}

      {{/if}}

    {{/if}}
 

 {{#unless normalView}}

 {{>gameMasterView}}

 {{/unless}}




</template>
