<template name="skillSet">
	
  <div class="sectionprofile sectionskills">
    <div class="titlesection w-container"><img class="iconwrapper" src="/img/icon24.png">
      <div class="fontreleway fonttitle">My Character Skill Set</div>
    </div>
    {{#if sectionEmpty.isTrue}}
    <div class="skillcovergrey"></div>
	{{else}}
	<div> Show the full profile , since 3 members invited </div>
	
	{{> profileSkills}}

    {{/if}}
 </div>

 {{#if sectionEmpty.isTrue}}
 <div class="sectionempty">
    <p class="fontreleway paraskillset paratopskills">Expand your self knowledge by unlocking your character skills from honest to listening to resilient.
      <br>In order to generate a reliable view, it requires inputs from at least three teammates of you.</p>
      <a class="_24skillsbttn fontbttn profilebttn w-button" href="/invite">invite {{sectionEmpty.count}} more teammates to view my complete skill set</a>
 </div>
 {{/if}}

</template>

<template name="sectionprofile">

 <div class="sectionprofile">
   <div class="titlesection w-container"><img class="iconplay iconwrapper" src="/img/iconPlay2.png">
      <div class="fontreleway fonttitle">WeQu Team Feedback Game</div>
      <p class="fontreleway titlepara">Discover WeQu games, crafted for team feedback experience.
        <br>It's a perfect way to break the ice and kickstart an open dialogue in any team.
        <br>Get your own game today and join the community!</p>
    </div>
    <div class="instagramdiv">
      <div class="html-embed w-embed w-iframe w-script">
        <!--  SnapWidget  -->
        <script src="https://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="https://snapwidget.com/embed/379943" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
      </div><a class="buybttn fontbttn profilebttn w-button" href="#">buy wequ games</a>
    </div>
  </div>

</template>

<template name="sectionSocial">
  <div class="section-social">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 w-col-medium-4 w-col-small-4 w-col-tiny-4">
          <div class="block-social">
            <div class="facebook w-widget w-widget-facebook">
              <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FplayWeQu%2F&amp;layout=button_count&amp;locale=en_US&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 225px; height: 35px;"></iframe>
            </div>
          </div>
        </div>
        <div class="w-col w-col-4 w-col-medium-4 w-col-small-4 w-col-tiny-4">
          <div class="block-social">
            <div class="w-widget w-widget-twitter">
              <iframe src="https://platform.twitter.com/widgets/follow_button.html#screen_name=playWeQu&amp;show_count=false&amp;size=m&amp;show_screen_name=true&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 100%; height: 21px;"></iframe>
            </div>
          </div>
        </div>
        <div class="w-col w-col-4 w-col-medium-4 w-col-small-4 w-col-tiny-4">
          <div class="block-social">
            <div class="w-widget w-widget-gplus">
              <div class="g-plusone" data-href="https://www.wequ.co" data-size="standard" data-annotation="bubble" data-recommendations="false" id="___plusone_3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="sectionShare">
  <div class="section-share sectionprofile">
    <div class="titlesection w-container"><img class="iconplay iconwrapper" src="/img/iconShare.png">
      <div class="fontreleway fonttitle fontwhite">Are You Dare To Know How The World Sees You?</div>
      <p class="fontreleway titleshare">Share your profile with people in your life.
        <br>Show who you really are. Discover how they see you as a return.</p>
    </div>
    <div class="socialcolum w-row">
      <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
        <div class="sharelogo">
          <div class="logocircle"><img src="/img/facebook-logo-f.png">
          </div>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
        <div class="sharelogo">
          <div class="logocircle"><img class="image-5" sizes="100vw" src="/img/linkedin-logo.png" srcset="/img/linkedin-logo-p-500.png 500w, /img/linkedin-logo-p-800.png 800w, /img/linkedin-logo-p-1080.png 1080w, /img/linkedin-logo-p-1600.png 1600w, /img/linkedin-logo.png 2560w" width="50">
          </div>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
        <div class="sharelogo">
          <div class="logocircle"><img class="image-6" sizes="100vw" src="/img/twitter-logo-blue.png" srcset="/img/twitter-logo-blue-p-500.png 500w, /img/twitter-logo-blue.png 518w" width="50">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-share sectionprofile">
    <div class="titlesection w-container"><img class="iconplay iconwrapper" src="/img/iconShare.png">
      <div class="fontreleway fonttitle fontwhite">Are You Dare To Know How The World Sees You?</div>
      <p class="fontreleway titleshare">Share your profile with people in your life.
        <br>Show who you really are. Discover how they see you as a return.</p>
    </div>
    <div class="socialcolum w-row">
      <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
        <div class="sharelogo">
          <div class="logocircle"><img src="/img/facebook-logo-f.png">
          </div>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
        <div class="sharelogo">
          <div class="logocircle"><img class="image-5" sizes="100vw" src="/img/linkedin-logo.png" srcset="/img/linkedin-logo-p-500.png 500w, /img/linkedin-logo-p-800.png 800w, /img/linkedin-logo-p-1080.png 1080w, /img/linkedin-logo-p-1600.png 1600w, /img/linkedin-logo.png 2560w" width="50">
          </div>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
        <div class="sharelogo">
          <div class="logocircle"><img class="image-6" sizes="100vw" src="/img/twitter-logo-blue.png" srcset="/img/twitter-logo-blue-p-500.png 500w, /img/twitter-logo-blue.png 518w" width="50">
          </div>
        </div>
      </div>
    </div>
  </div>
 </template>