<template name="emailCoupling">
    <div class="modal fade emailCoupling">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- <div class="modal-header">
                     <h4 class="modal-title"> </h4> 
                </div> -->

                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-2 col-md-2 col-sm-2"> 
                        </div>
                        <div class="col-xs-8 col-md-8 col-sm-8"> 
                          <center> <h5> <p> Hi {{userName}}, </p>  </h5> </center>
                        </div>
                        <div class="col-xs-2 col-md-2 col-sm-2"> 
                            <button type="button" class="close" data-dismiss="modal">
                            <img id="" class="pull-right" src="/img/login/X_button.png">    
                            </button>
                        </div>
                    </div>

                    <h5>
                    <p> We've found your account! </p> <br>
                    <p> Log in to you Wequ account to link to Linkedin. </p> </h5>

                    <form id="signIn">
                    <div class="form-group">
                                    <input type="email" name="loginEmail" class="form-control input-lg" placeholder="[email prefilled]" id="light-grey-color" value="{{invitedEmail}}" disabled required>
                                    <input type="password" name="loginPassword" class="form-control input-lg" placeholder="password" id="light-grey-color" required>
                    </div>
                    <button class="width100" type="submit"> Submit </button>
                    </form>

                    
                </div>

                <!-- <div class="modal-footer">
                   
                </div> -->

            </div>
        </div>
    </div>
</template>