 <template name="publicUser">

  <div class="publicUser">

  <div class="public sectionname">
    <div class="profilename w-container">
      <div class="profilefac">
        <div class="fontprofilename fontreleway">{{username profile}} Character Skills</div><a class="fontbttn powered-by profilebttn public w-button" href="https://www.wequ.co">POWERED BY WEQU®</a>
      </div>
    </div>
  </div>


  <div class="public-profile sectionprofile">
    <div class="titlesection w-container"><img class="iconwrapper" src="/img/iconRadar.png">
      <div class="fontreleway fonttitle">Overview</div>
    </div>

    <center>
     <svg height="300" width="300" style="zmin-height:300px;background-image:url('/img/skills2.png'); background-size: cover;">
			{{> radar score=data.myscore color="white" outline="#E96956"}}
  	</svg>
    </center>

    <!-- <div class="radaragenda w-row">
     <div class="column-2 w-col w-col-6 w-col-small-6 w-col-tiny-6">
        <div class="radariconwrapper w-clearfix"><img class="iconradar iconwrapper" src="/img/iconRadarMyself.png">
          <div class="fontradar fontradarleft fontreleway">How {{username profile}} see himself</div>
        </div>
      </div>
      <div class="column-3 w-col w-col-6 w-col-small-6 w-col-tiny-6">
        <div class="radariconwrapper teammate w-clearfix"><img class="iconradar iconwrapper" src="/img/iconRadarOthers.png">
          <div class="fontradar fontreleway">How others see {{username profile}}</div>
        </div>
      </div>
    </div> -->

     <div class="radaragenda row">
     <div class="col-md-2 col-sm-2 col-xs-0">
     </div>
     <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="radariconwrapper w-clearfix"><img class="iconradar iconwrapper" src="/img/iconRadarMyself.png">
          <div class="fontradar fontradarleft fontreleway">How {{username profile}} see himself</div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="radariconwrapper teammate w-clearfix"><img class="iconradar iconwrapper" src="/img/iconRadarOthers.png">
          <div class="fontradar fontreleway">How others see {{username profile}}</div>
        </div>
      </div>
    </div>

  </div>

  <div class="sectiongreybg sectionprofile">

		<div class="titlesection w-container"><img class="iconwrapper" src="/img/iconSkills.png">
			<div class="fontreleway fonttitle">{{username profile}} MORE TRUE Skills</div>
		</div>
		{{> threeSkills data=data.top3}}
		<div class="fontreleway fonttitle">{{username profile}} LESS TRUE Skills</div>
		{{> threeSkills data=data.weak3}}

  </div>

  <div class="section-social">
    <div class="fontreleway fonttitle public">Are You Dare To Know How the World Sees You?</div><a class="fontbttn profilebttn public w-button" href="#">It's your turn</a>
    <div class="w-container">
      <div class="row-2 w-row">
        <div class="w-col w-col-4 w-col-medium-4 w-col-small-4 w-col-tiny-4">
          <div class="block-social">
            <div class="facebook w-widget w-widget-facebook">
              <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FplayWeQu%2F&amp;layout=button_count&amp;locale=en_US&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 225px; height: 35px;"></iframe>
            </div>
          </div>
        </div>
        <div class="w-col w-col-4 w-col-medium-4 w-col-small-4 w-col-tiny-4">
          <div class="block-social">
            <div class="twitter w-widget w-widget-twitter">
              <iframe src="https://platform.twitter.com/widgets/follow_button.html#screen_name=playWeQu&amp;show_count=false&amp;size=m&amp;show_screen_name=true&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 100%; height: 21px;"></iframe>
            </div>
          </div>
        </div>
        <div class="w-col w-col-4 w-col-medium-4 w-col-small-4 w-col-tiny-4">
          <div class="block-social">
            <div class="w-widget w-widget-gplus">
              <div class="g-plusone" data-href="https://www.wequ.co" data-size="standard" data-annotation="bubble" data-recommendations="false" id="___plusone_7"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
 </template>